<% provide(:title, 'About') %>
<div class="jumbotron tron">
<h1>About us</h1>
<br>
<h2>Executive Board</h2>
<hr>
<p><strong>President:</strong> Patrick Kelly</p>
<p><strong>Vice President:</strong></p>
<p><strong>Tresurer:</strong></p>
<p><strong>Secretary:</strong> Andy Martin</p>
<br>
<h2>Perks</h2>
<hr>
<ul>
    <li>Help with Java/C++/Visual Basic/Website Development/Database/Other CS Courses</li>
    <li>Access to Microsoft DreamSpark (For more info contact Former President Isaiah Butler on FirstClass)</li>
    <li>Association for Computing Machinery (ACM) - Free access to thousands of online articles, books, and videos.</li>
    <li>Vote/Decide on Future Events</li>
</ul>
</div>