<% provide(:title, 'Full-Time Jobs') %>
<div class="container">
    <div class="jumbotron tron">
        <h1>Full-Time Jobs</h1>
        <table class="table">
        	<thead>
        		<tr>
        			<td>Position</td>
        			<td>Company</td>
        			<td>Date Posted</td>
        			<td>Apply</td>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td>Software Developer</td>
        			<td>General Dynamics</td>
        			<td>April 25, 2015</td>
        			<td><a href="#">Apply</a></td>
        		</tr>
        	</tbody>
        </table>
    </div>
</div>
