<% provide(:title, 'Contact') %>

<div class="jumbotron tron">
<h1>Contact us</h1>
<p class="text-center"><strong>Massachusetts College of Liberal Arts</strong></p>
<p class="text-center">375 Church St</p>
<p class="text-center">North Adams, MA 01247</p>
<p>Email: <a href="mailto:mclacomputersociety1001@gmail.com">Computer Society Email</a></p>
<p>Meet us: Room M120 Fridays at 3:00PM</p>
<p>Contact the Developer: <a href="mailto:adamouellette57@gmail.com">Developer Email</a></p>
<h2>Find us</h2>
<hr>
<a href="https://www.facebook.com/groups/MCLACompSociety/" target="_blank" align="left"><img src="http://www.niftybuttons.com/webicons2/facebook.png" border="0" style="margin:1px;"></a><a href="https://twitter.com/MCLACompSci" target="_blank" align="left"><img src="http://www.niftybuttons.com/webicons2/twitter.png" border="0" style="margin:1px;"></a>
</div>