<% provide(:title, 'Home') %>

<div class="jumbotron tron">
    <h1>Massachusetts College of Liberal Arts Computer Society</h1>
    <br>
    <p>The MCLA Computer Society is a fun and engaging club for all students interested in learning about the world of computing and computers. Visit this page to learn more about us!</p>
    <%= image_tag("group2015.jpg", :alt => "Group Photo") %>
    <img src="group2015.jpg" alt="">
    <br>
    <br>
</div>
