@import "bootstrap-sprockets";
@import "bootstrap";

*{
    margin: 0;
}
html {
  background: url(Logo1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tron{
    color: #18CAE6;
    background-color: #000000;
    font-family: Raleway;
    font-weight:900;
    text-shadow: 0px 0px 3px #000;
}
.jumbotron{
    background-color: transparent;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}    
body{
      overflow-x:hidden;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9
    */
        text-shadow: 3px 3px 8px #000;
}
.nav-pills li>a:hover{
    background-image: none;
    color: #18CAE6;
    background-color: #000000;
    border-bottom: 1px solid #18CAE6;
}        
#footer {
  position: relative;
  margin 0px auto{}
  width: 100%;
  background-color: rgba( 136, 143, 143, 0.542 );
}
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}

.table, #contact{
    background-color: rgba( 89, 94, 99, 0.798 );
    border-radius: 10px;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -355px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
    height: 220px; /* .push must be the same height as .footer */
}

a{
    	-webkit-transition: 0.5s ease;
	    -moz-transition: 0.5s ease;
    	-ms-transition: 0.5s ease;
	    -o-transition: 0.5s ease;
	    transition: 0.5s ease;
    color: #FFFFFF;
}

a:hover{
    border-width: 0;
    border-color: #18CAE6;
}

  /*-- change navbar dropdown color --*/
.dropdown-menu>li>a{
        color: #18CAE6;
    background-color: #000000;
  }

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus{
    background-image: none;
    color: #18CAE6;
    background-color: #000000;
    border: 1px solid #18CAE6;
}

.table-wrapper th{
  padding-right: 10px;
}