<div id="footer">
    <div class="row">
        <br>
          <div class="col-md-4">
            <center>
              <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
              <br>
              <h4 class="footertext">Skills</h4>
              <p class="footertext">Programming is not an easy task, but we are the best at it.<br>
            </center>
          </div>
          <div class="col-md-4">
            <center>
              <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
              <br>
              <h4 class="footertext">Hard Work</h4>
              <p class="footertext">We put in hours of restless work to achieve optimal results<br>
            </center>
          </div>
          <div class="col-md-4">
            <center>
              <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
              <br>
              <h4 class="footertext">Magic</h4>
              <p class="footertext">Most of what we do is magic and all of us are wizards and witches.<br>
            </center>
          </div>
        </div>
    <div class="row">
        <p><center class="footertext">Massachusetts College of Liberal Arts</center></p>
        <p><center class="footertext">Copyright 2015</center></p>
        <hr>
        <p><center class="footertext">Special Thanks</center></p>
        <p><center class="footertext">Adam Ouellette</center></p>
        <p><center class="footertext">Class of 2015</center></p>
    </div>
</div>