<div>
    <ul class="nav nav-pills nav-justified">
       <li class="tron text-center">
           MCLA Computer Society
       </li>
        <li class="tron"> <a class="tron" href="../MCLACS/header.html">Home</a></li>
        <li class="tron"><a href="../MCLACS/about.html" class="tron">About</a></li>
        <li class="tron"> <a class="tron" href="../MCLACS/event_calendar.html">Events</a></li>
        <li class="dropdown tron"> <a href="#" class="dropdown-toggle tron" data-toggle="dropdown">Careers <span class="caret"></span></a>
            <ul class="dropdown-menu tron" role="menu">
                <li class="tron"><a class="tron" href="../MCLACS/internships.html">Internships</a>
                </li>
                <li class="tron" ><a class="tron" href="../MCLACS/full-time.html">Full-Time Jobs</a>
                </li>
            </ul>
        </li>
        <li class="tron"><a href="/MCLACS/contact.html" class="tron">Contact</a></li>
    </ul>
</div>